<launch>
    <rosparam name='arm.yaml' pkg='homework2'/>
    <node name="rviz" pkg ="rviz" type="rviz" />
    <param name="robot_description" command="$(find xacro)/xacro $(find homework2)/twoarm.urdf.xacro"/>    
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"/>
    <node name="joint_state_publisher_gui" pkg="joint_state_publisher_gui" type="joint_state_publisher_gui"/>
</launch>